{% extends 'base.html' %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">My Top 10 Movies</h1>
    <p class="description">These are my all time favourite movies.</p>
{% if movie_info != None %}
    <div class="card">
        <div class="front" style="background-image: url({{ movie_info.img_url }});">
            <p class="large">{{ movie_info.ranking }}</p>
        </div>
        <div class="back">
            <div>
                <div class="title">{{ movie_info.title }} <span class="release_date">({{ movie_info.year }})</span>
                </div>
                <div class="rating">
                    <label>{{ movie_info.rating }}</label>
                    <i class="fas fa-star star"></i>
                </div>
                <p class="review">"{{ movie_info.review }}"</p>
                <p class="overview">
                    {{ movie_info.description }}
                </p>

                <a href="{{ url_for('edit', id_num=movie_info.id) }}" class="button">Update</a>
                <a href="{{ url_for('delete', id_num=movie_info.id )}}" class="button delete-button">Delete</a>
{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container text-center add">
    <a href="{{ url_for('add') }}" class="button">Add Movie</a>
</div>

{% endblock %}